VaccineApp/Connected Services/MyServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="ArrayOfhospital">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hospital" nillable="true" type="tns:hospital" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhospital" nillable="true" type="tns:ArrayOfhospital" />
  <xs:complexType name="hospital">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hospital_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hospital" nillable="true" type="tns:hospital" />
  <xs:complexType name="ArrayOfvaccine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vaccine" nillable="true" type="tns:vaccine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvaccine" nillable="true" type="tns:ArrayOfvaccine" />
  <xs:complexType name="vaccine">
    <xs:sequence>
      <xs:element minOccurs="0" name="dose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dose_count" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="vaccine_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vaccine_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vaccine" nillable="true" type="tns:vaccine" />
  <xs:complexType name="ArrayOfcommunity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="community" nillable="true" type="tns:community" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcommunity" nillable="true" type="tns:ArrayOfcommunity" />
  <xs:complexType name="community">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_of_birth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="community" nillable="true" type="tns:community" />
  <xs:complexType name="ArrayOfvaccine_records">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vaccine_records" nillable="true" type="tns:vaccine_records" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvaccine_records" nillable="true" type="tns:ArrayOfvaccine_records" />
  <xs:complexType name="vaccine_records">
    <xs:sequence>
      <xs:element minOccurs="0" name="administration_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="community_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="dose_number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="hospital_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nurse_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vaccine_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vaccine_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vaccine_records" nillable="true" type="tns:vaccine_records" />
  <xs:complexType name="ArrayOfvaccine_producers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vaccine_producers" nillable="true" type="tns:vaccine_producers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvaccine_producers" nillable="true" type="tns:ArrayOfvaccine_producers" />
  <xs:complexType name="vaccine_producers">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="producer_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vaccine_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vaccine_producers" nillable="true" type="tns:vaccine_producers" />
  <xs:complexType name="ArrayOfproducer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="producer" nillable="true" type="tns:producer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfproducer" nillable="true" type="tns:ArrayOfproducer" />
  <xs:complexType name="producer">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="producer_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="producer" nillable="true" type="tns:producer" />
</xs:schema>